
.topnav {
 background-image: linear-gradient(to right,#161616,#242424,#333,#515151);
  overflow: hidden;
  margin-top: -20%;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 160px 28px;
  text-decoration: none;
  font-size: 15px;
  font-family: arial;

}


.topnav a:hover {
  background-color: #ddd;
  color: black;
  padding: 14px 28px;
}


.topnav a.active {
  background-color: #2E86C1;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
}

.topnav a.align {
  padding-top: 14px;
}

.topnav a.align2 {
  padding-top: 14px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  color: #d9d9d9;
  transform: translate(-50%, -50%);
}

.barra {
 background-image: linear-gradient(to right,#161616,#242424,#333,#515151);

  height: 880px;
  margin-top: -13px;
}

.barra2 {
 background-image: linear-gradient(to right,#161616,#242424,#333,#515151);

  height: 630px;
  margin-top: -13px;
}

.barra3 {
background-image: linear-gradient(to top,#515151,#333,#242424,#161616);


  height: 535px;
  margin-top: 40px;

}

h2 {

	text-align: center;
color: #bfbfbf;
font-size: 25px;
font-family: arial;
font-weight: bold;
}

h3 {

	text-align: center;
color: #e6e6e6;
font-size: 18px;
font-family: arial;
font-weight: normal;
}

div.gallery {
  border: 0px solid #ccc;
}

div.gallery:hover {
  border: 0px solid #2E86C1;
}

div.gallery img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

div.gallery img:hover { 
  opacity: 2; 
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: arial;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





div.gallery2 {
  border: 0px solid #ccc;
}

div.gallery2:hover {
  border: 0px solid #2E86C1;
}

div.gallery2 img {
  width: 100%;
  height: auto;
opacity: 0.8;
}

div.gallery2 img:hover
{
	opacity: 1;
}


div.desc2 {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: arial;
}


div.desccere {
  padding: 15px;
  text-align: center;
  margin-right: 55px;
  margin-top: -40px;
  color: white;
  font-family: arial;
}

.responsive2 {
  padding: 0 6px;
  float: left;
  margin-left: 110px;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive2 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive2 {
    width: 100%;
  }
}

